// all styles
:root {
  --default-wema-color: #990d81;
  --white-color: #fff;
}

@import 'antd/dist/antd.css';
@import "src/assets/styles/aside";
@import 'aos/dist/aos.css';

.sidebar {
  overflow-y: auto;
}

.hide-upload-tips {
  .ant-tooltip, .ant-tooltip-placement-top, .ant-tooltip-hidden {
    display: none;
  }
}

.activeColor {
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border-right: 4px solid #fff;
  }
}

.transition {
  transition: ease all 0.5s;
}
@media (max-width: 449px) {
  .hide {
    display: none;
  }
}